body {
    font-family: 'Arial', sans-serif;
    background-image: url("photos/bg.gif");
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#todo-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 500px;
    height: 500px;
    text-align: center;
}

#todo-header {
    background-color: red;
    color: #fff;
    padding: 10px;
    font-size: 1.5rem;
}

#todo-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

#todo-options label {
    margin-right: 10px;
    font-size: 0.9rem;
}

#todo-options button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 8px;
    cursor: pointer;
    font-size: 0.9rem;
}

#todo-options button:hover {
    background-color: #c0392b;
}

.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

button{
    border: none;
    outline: none;
    padding: 8px 20px;
    background: #c0392b;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

.todo-item.completed {
    background-color: #ecf0f1;
}

.todo-item input {
    margin-right: 10px;
}

.timestamp {
    margin-left: auto;
    font-size: 0.8rem;
}
